# Don't copy node_modules
node_modules

# Ignore common folders that we do not need
.dockerignore
.git
.gitignore
.github
.vscode
.devcontainer
.next

# Ignore common files that we do not need
Dockerfile
README.md
LICENSE
npm-debug.log